<mat-card>
    <mat-card-title>
      <span>Duplicar plan de medio</span>
      <button routerLink="/" mat-icon-button><mat-icon>arrow_back</mat-icon></button>
    </mat-card-title>
    <mat-divider></mat-divider>
    <div class="form">
      <div class="line t-select">
          <mat-form-field class="left" appearance="fill">
              <mat-label>Cliente</mat-label>
              <mat-select disabled>
                <mat-option [(ngModel)]="newData.client">{{newData.client}}</mat-option>
              </mat-select>
    
            </mat-form-field>
            <mat-form-field class="rigth" appearance="fill">
              <mat-label>Compañia</mat-label>
              <mat-select disabled >
                <mat-option  [(ngModel)]="newData.compaign">{{newData.compaign}}</mat-option>
              </mat-select>
      
            </mat-form-field>
      </div>
      <div class="line">
          <mat-form-field class="example-full-width left">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Introduzca nombre" [(ngModel)]="newData.name">
            </mat-form-field>
            <mat-form-field appearance="fill" class="rigth">
              <mat-label>Nota de prensa</mat-label>
              <mat-select>
                <mat-option [(ngModel)]="newData.note">{{newData.note}}</mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div>
          <mat-form-field class="example-full-width left right">
              <mat-label>Descripcion</mat-label>
              <input matInput placeholder="Descripcion" [(ngModel)]="newData.description">
            </mat-form-field>
      </div>
    </div>
    <mat-card-actions>
      <button (click)="postData()" mat-raised-button color="warn">Guardar</button>
    </mat-card-actions>
  </mat-card>
  